In [1]:
## 导入需要的库
import numpy as np
import pandas as pd
import math
import os
import random
from matplotlib.pyplot import *
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("中国预处理后的数据归一化数据.csv")
data = data.drop(['Unnamed: 0'], axis = 1)
data.head()

,0,1,2,3,4,5,6,7,8,9,...,226,227,228,229,230,231,232,233,234,235
0,0.639760,0.306344,0.643055,0.404049,0.330518,0.308084,0.310685,0.234917,0.434767,0.496236,...,0.262493,0.400476,0.388387,0.303567,0.432972,0.293022,0.275222,0.409304,0.487033,0.349695
1,0.526038,0.518005,0.634171,0.319361,0.287591,0.565978,0.315569,0.407085,0.439491,0.752988,...,0.263985,0.516160,0.542824,0.439881,0.498713,0.428343,0.388262,0.507750,0.636671,0.244335
2,0.577485,0.445367,0.601349,0.548781,0.432782,0.466347,0.308527,0.437388,0.499600,0.503784,...,0.533018,0.460782,0.533105,0.462667,0.530569,0.417889,0.433309,0.474532,0.592464,0.541625
3,0.372788,0.425158,0.497319,0.618740,0.591934,0.623291,0.538243,0.550853,0.708638,0.712151,...,0.863991,0.528371,0.693132,0.735055,0.621392,0.472567,0.489961,0.795881,0.587294,0.641752
4,0.290665,0.382834,0.459442,0.390895,0.573781,0.605398,0.403858,0.674202,0.359219,0.366133,...,0.450351,0.363986,0.471258,0.675333,0.416333,0.558379,0.281196,0.458233,0.333770,0.442782

In [3]:
n, m = len(data), len(data.T)
data1 = np.zeros((n,m))
t = 0
for i in range(0,n):
    a = 1
    for j in range(0,m):
        a = a + data.loc[i][j]
        data1[t][j] = a
    t = t + 1
data1 = pd.DataFrame(data1)
data1.head()

,0,1,2,3,4,5,6,7,8,9,...,226,227,228,229,230,231,232,233,234,235
0,1.639760,1.946104,2.589159,2.993208,3.323727,3.631811,3.942496,4.177413,4.612180,5.108417,...,87.597660,87.998136,88.386523,88.690090,89.123062,89.416084,89.691306,90.100610,90.587643,90.937338
1,1.526038,2.044043,2.678214,2.997575,3.285166,3.851145,4.166714,4.573799,5.013290,5.766278,...,110.937910,111.454070,111.996894,112.436775,112.935488,113.363830,113.752093,114.259843,114.896514,115.140848
2,1.577485,2.022852,2.624201,3.172982,3.605764,4.072111,4.380638,4.818026,5.317627,5.821411,...,118.973531,119.434313,119.967418,120.430085,120.960653,121.378543,121.811852,122.286383,122.878847,123.420472
3,1.372788,1.797946,2.295265,2.914004,3.505938,4.129229,4.667472,5.218325,5.926963,6.639115,...,136.847532,137.375904,138.069035,138.804090,139.425482,139.898049,140.388010,141.183891,141.771185,142.412936
4,1.290665,1.673500,2.132942,2.523837,3.097618,3.703016,4.106874,4.781075,5.140295,5.506428,...,106.461718,106.825704,107.296962,107.972295,108.388628,108.947006,109.228203,109.686436,110.020206,110.462988

In [4]:
# 我们模型的结果
lb1 = [1, 10, 13, 18, 22, 24, 25, 28, 29]
lb2 = [2, 5, 7, 8, 19, 26]
lb3 = [0, 3, 4, 6, 9, 11, 12, 14, 15, 16, 17, 20, 21, 23, 27]

## K-means聚类结果
A1 = [0, 3, 27]
A2 = [4, 5, 6, 7, 11, 12, 13, 14, 15, 16, 17, 20, 22, 23, 24, 25, 28, 29]
A3 = [1, 2, 8, 9, 10, 18, 19, 21, 26]

# 三支聚类结果
B1 = [3, 5, 6, 13, 14, 17, 28]
B2 = [1, 2, 7, 10, 11, 12, 15, 18, 19, 21, 22, 23, 24, 25, 26, 27]
B3 = [0, 4, 8, 9, 16, 20, 29]

# 基于遗憾理论的灰度关联聚类结果
C1 = [0, 3, 4, 5, 7, 12, 14, 15, 16, 17, 22, 24, 25, 27, 28, 29]
C2 = [1, 2, 6, 8, 9, 10, 11, 13, 18, 19, 20, 21, 23, 26]

# 亲和传播聚类结果
D1 = [0, 20, 29]
D2 = [3, 6, 7, 13, 17, 22]
D3 = [1, 2, 5, 9, 11, 12, 18, 19, 23, 24, 27]
D4 = [4, 10, 14, 15, 21]
D5 = [16]
D6 = [8, 25, 26]
D7 = [28]

In [5]:
# 每个股票的期望收益率
ExpReturn = []

for i in range(0,n):
    ExpReturn.append(np.mean(data1.iloc[i]))
    ExpReturn[i] = round(ExpReturn[i], 3)
print(ExpReturn)

[45.79, 57.81, 61.671, 71.123, 55.465, 64.086, 69.719, 61.222, 51.914, 54.707, 61.134, 59.408, 58.635, 76.497, 65.646, 62.04, 45.175, 71.287, 58.646, 63.396, 49.918, 59.018, 62.429, 62.206, 59.965, 59.743, 60.205, 58.78, 65.024, 46.607]

In [6]:
# 每个股票的协方差矩阵
ExpCovar = np.cov(data1)
for i in range(0,n):
    for j in range(0,n):
        ExpCovar[i][j] = round(ExpCovar[i][j], 3)
ExpCovar = pd.DataFrame(ExpCovar)
ExpCovar.head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,677.802,866.109,932.625,1067.468,836.861,959.416,1040.833,931.375,786.696,815.625,...,739.333,876.254,919.326,918.280,877.743,896.397,901.131,880.776,947.134,692.693
1,866.109,1106.854,1191.773,1364.155,1069.497,1226.062,1330.124,1190.292,1005.276,1042.303,...,944.803,1119.927,1174.864,1173.487,1121.720,1145.510,1151.536,1125.547,1210.427,885.198
2,932.625,1191.773,1283.563,1468.904,1151.656,1320.310,1432.223,1281.801,1082.565,1122.400,...,1017.443,1205.776,1265.179,1263.559,1207.759,1233.615,1240.152,1212.019,1303.246,953.288
3,1067.468,1364.155,1468.904,1681.462,1318.205,1511.218,1639.526,1467.135,1239.020,1284.733,...,1164.561,1380.479,1448.240,1446.385,1382.633,1411.950,1419.375,1387.273,1492.012,1091.041
4,836.861,1069.497,1151.656,1318.205,1033.678,1184.787,1285.346,1150.345,971.505,1007.283,...,912.948,1082.395,1135.344,1133.966,1083.936,1106.976,1112.805,1087.592,1169.620,855.414

In [7]:
ExpCovar.to_csv(r"中国股票的协方差矩阵.csv")

In [9]:
w = [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]
t = 0
t1 = 0
for l in range(0,len(w)):
    for i1 in range(0,n):
        if i1 in lb1:
            for i2 in range(0,n):
                if i2 in lb3:
                    Y = w[l]*data.iloc[i1]+(1-w[l])*data.iloc[i2]
                    s = pd.Series(Y)
                    if (np.mean(Y)-0.3)/np.std(Y) > t:
                        t = (np.mean(Y)-0.3)/np.std(Y)   
                        t1 = np.std(Y)
print(t)
print(t1)

3.313744349966651
0.08639458383596492

In [11]:
w = [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]
t = 0
t1 = 0
for l in range(0,len(w)):
    for i1 in range(0,n):
        if i1 in A1:
            for i2 in range(0,n):
                if i2 in A2:
                    Y = w[l]*data.iloc[i1]+(1-w[l])*data.iloc[i2]
                    s = pd.Series(Y)
                    if (np.mean(Y)-0.3)/np.std(Y) > t:
                        t = (np.mean(Y)-0.3)/np.std(Y)   
                        t1 = np.std(Y)
print(t)
print(t1)

3.2186877494570854
0.08473494736782633

In [19]:
w = [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]
t = 0
t1 = 0
for l in range(0,len(w)):
    for i1 in range(0,n):
        if i1 in B1:
            for i2 in range(0,n):
                if i2 in B3:
                    Y = w[l]*data.iloc[i1]+(1-w[l])*data.iloc[i2]
                    s = pd.Series(Y)
                    if (np.mean(Y)-0.3)/np.std(Y) > t:
                        t = (np.mean(Y)-0.3)/np.std(Y)   
                        t1 = np.std(Y)
print(t)
print(t1)

2.547920496646107
0.10618937608686557

In [23]:
w = [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]
t = 0
t1 = 0
for l in range(0,len(w)):
    for i1 in range(0,n):
        if i1 in C1:
            for i2 in range(0,n):
                if i2 in C2:
                    Y = w[l]*data.iloc[i1]+(1-w[l])*data.iloc[i2]
                    s = pd.Series(Y)
                    if (np.mean(Y)-0.3)/np.std(Y) > t and (np.mean(Y)-0.3)/np.std(Y)<3:
                        t = (np.mean(Y)-0.3)/np.std(Y)   
                        t1 = np.std(Y)
print(t)
print(t1)

2.9821957203317666
0.09701296161410705

In [24]:
w = [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]
t = 0
t1 = 0
for l in range(0,len(w)):
    for i1 in range(0,n):
        if i1 in D1:
            for i2 in range(0,n):
                if i2 in D2:
                    Y = w[l]*data.iloc[i1]+(1-w[l])*data.iloc[i2]
                    s = pd.Series(Y)
                    if (np.mean(Y)-0.3)/np.std(Y) > t:
                        t = (np.mean(Y)-0.3)/np.std(Y)   
                        t1 = np.std(Y)
print(t)
print(t1)

2.538622361079422
0.10500989951248346