In [1]:
## 导入需要的库
import numpy as np
import pandas as pd
import math
import os
import random
from matplotlib.pyplot import *
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv("香港预处理后的数据归一化数据.csv")
data = data.drop(['Unnamed: 0'], axis = 1)
data.head()

,0,1,2,3,4,5,6,7,8,9,...,235,236,237,238,239,240,241,242,243,244
0,0.736193,0.501542,0.816691,0.593069,0.647679,0.702279,0.672787,0.649062,0.631335,0.634301,...,0.612507,0.665645,0.680750,0.655391,0.711012,0.700231,0.651183,0.738339,0.622953,0.695193
1,0.342608,0.234420,0.412883,0.409494,0.437185,0.413305,0.502298,0.332576,0.356607,0.317715,...,0.298241,0.360469,0.402403,0.262128,0.383770,0.490490,0.334200,0.424446,0.450695,0.357240
2,0.457942,0.579726,0.473875,0.587997,0.539056,0.382939,0.695173,0.579591,0.539056,0.506647,...,0.550544,0.630311,0.378605,0.410466,0.609477,0.769004,0.424988,0.820954,0.303000,0.561870
3,0.269724,0.138360,0.331418,0.410485,0.538670,0.393172,0.460095,0.312516,0.425359,0.255574,...,0.242354,0.344429,0.344125,0.204187,0.324723,0.473141,0.238255,0.438652,0.239695,0.330825
4,0.362847,0.227501,0.417300,0.403319,0.429789,0.291033,0.518382,0.341012,0.362885,0.340715,...,0.275528,0.371694,0.296157,0.286968,0.371694,0.546898,0.288832,0.528461,0.237691,0.401852

In [4]:
n, m = len(data), len(data.T)
data1 = np.zeros((n,m))
t = 0
for i in range(0,n):
    a = 1
    for j in range(0,m):
        a = a + data.loc[i][j]
        data1[t][j] = a
    t = t + 1
data1 = pd.DataFrame(data1)
data1.head()

,0,1,2,3,4,5,6,7,8,9,...,235,236,237,238,239,240,241,242,243,244
0,1.736193,2.237735,3.054427,3.647496,4.295175,4.997454,5.670241,6.319304,6.950639,7.584940,...,159.087818,159.753463,160.434213,161.089604,161.800616,162.500848,163.152031,163.890370,164.513323,165.208515
1,1.342608,1.577028,1.989911,2.399404,2.836590,3.249895,3.752193,4.084769,4.441375,4.759090,...,86.793777,87.154246,87.556649,87.818778,88.202547,88.693038,89.027238,89.451684,89.902379,90.259619
2,1.457942,2.037668,2.511543,3.099540,3.638596,4.021536,4.716709,5.296300,5.835356,6.342003,...,125.642237,126.272547,126.651152,127.061618,127.671095,128.440100,128.865087,129.686041,129.989042,130.550911
3,1.269724,1.408084,1.739501,2.149987,2.688657,3.081829,3.541924,3.854440,4.279799,4.535373,...,75.830076,76.174505,76.518630,76.722818,77.047541,77.520682,77.758936,78.197589,78.437284,78.768109
4,1.362847,1.590349,2.007648,2.410967,2.840756,3.131789,3.650171,3.991184,4.354069,4.694784,...,86.553841,86.925535,87.221692,87.508659,87.880353,88.427251,88.716082,89.244544,89.482234,89.884086

In [5]:
# 我们模型的结果
lb1 = [0, 9]
lb2 = [10]
lb3 = [1, 2, 3, 4, 5, 6, 7, 8]

## K-means聚类结果
A1 = [0]
A2 = [1, 3, 4, 5, 6, 7, 9, 10]
A3 = [2, 8]

# 三支聚类结果
B1 = [0]
B2 = [2, 5, 8]
B3 = [1, 3, 4, 6, 7, 9, 10]

# 基于遗憾理论的灰度关联聚类结果
C1 = [0, 2, 8]
C2 = [1, 3, 4, 5, 6, 7, 9, 10]

# 亲和传播聚类结果
D1 = [0]
D2 = [1, 3, 4, 5, 6, 7, 9, 10]
D3 = [2]
D4 = [8]

In [6]:
# 每个股票的期望收益率
ExpReturn = []

for i in range(0,n):
    ExpReturn.append(np.mean(data1.iloc[i]))
    ExpReturn[i] = round(ExpReturn[i], 3)
print(ExpReturn)

[83.209, 45.375, 65.615, 39.894, 44.945, 49.466, 42.947, 47.308, 63.815, 48.038, 42.848]

In [7]:
# 每个股票的协方差矩阵
ExpCovar = np.cov(data1)
for i in range(0,n):
    for j in range(0,n):
        ExpCovar[i][j] = round(ExpCovar[i][j], 3)
ExpCovar = pd.DataFrame(ExpCovar)
ExpCovar.head()

,0,1,2,3,4,5,6,7,8,9,10
0,2239.093,1210.713,1764.517,1050.861,1214.790,1331.494,1143.861,1276.517,1706.524,1285.794,1139.498
1,1210.713,654.718,954.131,568.292,656.933,720.013,618.556,690.315,922.794,695.288,616.203
2,1764.517,954.131,1390.681,828.180,957.406,1049.304,901.443,1006.008,1344.830,1013.297,898.017
3,1050.861,568.292,828.180,493.346,570.230,624.979,536.917,599.230,801.022,603.495,534.889
4,1214.790,656.933,957.406,570.230,659.255,722.473,620.665,692.680,925.927,697.671,618.320

In [8]:
ExpCovar.to_csv(r"香港股票的协方差矩阵.csv")

In [11]:
w = [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]
t = 0
t1 = 0
for l in range(0,len(w)):
    for i1 in range(0,n):
        if i1 in lb1:
            for i2 in range(0,n):
                if i2 in lb3:
                    Y = w[l]*data.iloc[i1]+(1-w[l])*data.iloc[i2]
                    s = pd.Series(Y)
                    if (np.mean(Y)-0.5)/np.std(Y) > t:
                        t = (np.mean(Y)-0.5)/np.std(Y)   
                        t1 = np.std(Y)
print(t)
print(t1)

2.372251046871693
0.06504199319999432

In [17]:
w = [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]
t = 0
t1 = 0
for l in range(0,len(w)):
    for i1 in range(0,n):
        if i1 in A1:
            for i2 in range(0,n):
                if i2 in A2:
                    Y = w[l]*data.iloc[i1]+(1-w[l])*data.iloc[i2]
                    s = pd.Series(Y)
                    if (np.mean(Y)-0.5)/np.std(Y) > t:
                        t = (np.mean(Y)-0.5)/np.std(Y)   
                        t1 = np.std(Y)
print(t)
print(t1)

2.221872416324458
0.06376332206831863

In [23]:
w = [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]
t = 0
t1 = 0
for l in range(0,len(w)):
    for i1 in range(0,n):
        if i1 in B1:
            for i2 in range(0,n):
                if i2 in B3:
                    Y = w[l]*data.iloc[i1]+(1-w[l])*data.iloc[i2]
                    s = pd.Series(Y)
                    if (np.mean(Y)-0.5)/np.std(Y) > t and (np.mean(Y)-0.5)/np.std(Y)<2.2:
                        t = (np.mean(Y)-0.5)/np.std(Y)   
                        t1 = np.std(Y)
print(t)
print(t1)

2.1511762046223937
0.06491678891648628

In [26]:
w = [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]
t = 0
t1 = 0
for l in range(0,len(w)):
    for i1 in range(0,n):
        if i1 in C1:
            for i2 in range(0,n):
                if i2 in C2:
                    Y = w[l]*data.iloc[i1]+(1-w[l])*data.iloc[i2]
                    s = pd.Series(Y)
                    if (np.mean(Y)-0.5)/np.std(Y) > t and (np.mean(Y)-0.5)/np.std(Y)<2:
                        t = (np.mean(Y)-0.5)/np.std(Y)   
                        t1 = np.std(Y)
print(t)
print(t1)

1.823978728601606
0.06201228844538586

In [27]:
w = [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]
t = 0
t1 = 0
for l in range(0,len(w)):
    for i1 in range(0,n):
        if i1 in D1:
            for i2 in range(0,n):
                if i2 in D3:
                    Y = w[l]*data.iloc[i1]+(1-w[l])*data.iloc[i2]
                    s = pd.Series(Y)
                    if (np.mean(Y)-0.5)/np.std(Y) > t:
                        t = (np.mean(Y)-0.5)/np.std(Y)   
                        t1 = np.std(Y)
print(t)
print(t1)

2.3049916150638197
0.06771949887195368